{% extends 'poll/home.html' %}
{% load widget_tweaks %}

{% block content %}
<form class="mx-auto" method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-9">
            <label for="question" class="form-label">Enter Your Question Here</label>
            {% render_field form.question class="form-control" rows="3" %}
        </div>
    </div>
    <div class="row">
        <div class="col-3">
        <label for="option1" class="form-label">Option 1</label>
        {% render_field form.option_one class="form-control" %}
        </div>
        <div class="col-3">
            <label for="option2" class="form-label">Option 2</label>
            {% render_field form.option_two class="form-control" %}
        </div>
        
        <div class="col-3">
      <label for="option3" class="form-label">Option 3</label>
      {% render_field form.option_three class="form-control" %} 
        </div>
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock content %}